@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: inherit;
}

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 5px 0;
}

img {
    display: block;
}

.logo {
    width: 150px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 1;
    font-size: 14px;
}


/*----------link-----------------*/

.link {
    cursor: pointer !important;
    transition: all .3s linear;
    padding-bottom: 4px;
    background: linear-gradient(to right, #28699b 0%, #28699b 98%);
    background-size: 0px 1px;
    background-repeat: no-repeat;
    background-position: left 85%;
}

.link:hover {
    color: #28699b;
    background-size: 100% 1px;
}


/*----------/link-----------------*/

footer,
header {
    font-family: 'Pacifico', cursive;
    background-color: #5E2129;
    color: white;
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 100%;
    padding: 1% 2%;
}

footer {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
}

header.scroll {
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, .1);
    padding: 0px 10px;
    opacity: 0.9;
}

div.content {
    display: flex;
    flex: 1;
}

div.content_center {
    padding: 1%;
    background-color: #464451;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
}

aside {
    background-color: #BADBAD;
}


/*------------------меню---------------------------*/

hr.list {
    border: 1px solid white;
    margin: 0;
}

.lsnone {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu>li {
    position: relative;
    cursor: default;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background: #5E2129;
    transition: .3s;
}

.submenu>li {
    padding: 5px;
}

.menu li:hover .submenu,
.menu li:hover .feedback {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.2s;
}

img.language {
    width: 20px;
    height: 15px;
    margin-right: 2px;
}


/*------------------/меню----------------------*/


/*----------новости---------------*/

div.news div {
    padding: 2%;
    margin: 2%;
    background-color: white;
}


/*---------/новости----------------*/


/*---------------магазин------------*/

.grid {
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.grid>.item {
    border: 1px solid white;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 15px;
    background-color: black;
    position: relative;
    margin: 10px;
    width: 250px;
    height: auto;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.item>.title {
    text-align: center;
    margin: 5px;
}

.item>.img {
    width: 100%;
    height: 160px;
}

.item>.ingridients {
    color: white;
    margin: 5px;
    margin-bottom: 20px;
}

.item>.price {
    color: #F0E68C;
    position: absolute;
    bottom: 0;
}


/*---------------/магазин----------------*/


/*------------------feedback----------------------*/

.feedback {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition-duration: 2s;
    background: #69c27f;
    margin: 15px;
}

.feedback form {
    min-width: 250px;
}

.form_body {
    position: relative;
    padding: 15px;
    min-width: 250px;
}

.form_body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.9) url(/img/loading.gif) center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
}

.form_body._sending::after {
    opacity: 1;
    visibility: visible;
}

.form_item {
    margin-bottom: 20px;
}

.form_label {
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form_input {
    height: 25px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 18px;
}

textarea.form_input {
    min-height: 120px;
    resize: vertical;
}

.form_input._error {
    box-shadow: 0 0 15px red;
}

.form_button {
    width: 100%;
    padding: 10px;
    min-height: 30px;
    background-color: rgb(49, 83, 14);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 0 rgb(27, 46, 9);
    transition: background-color 0.5s ease 0s;
    position: relative;
    top: 0;
}

.form_button:hover {
    background-color: rgb(41, 68, 14);
}

.form_button:active {
    top: 2px;
    box-shadow: 0 2px 0 rgb(27, 46, 9);
}


/*------------------/feedback----------------------*/


/*------------------log in form----------------------*/

.form_title {
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}


/*------------------/log in form----------------------*/

.center {
    margin: auto;
}

@media only screen and (max-width: 600px) {
    aside {
        display: none;
    }
    body {
        font-size: 26px;
    }
    .logo {
        width: 150px;
    }
}